body{
    background-color: #E060FB;
    font-family: 'Sacramento', cursive;
}

.header_div{
    background: #C8FAE1;
    color: black;
}

.header_div p{
    font-family: 'Concert One', cursive;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}

.main_div button{
    font-family: 'Love Light', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
   color: #179221;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #C8FAE1;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(74, 155, 50);
}